*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 72px;
    font-size: 16px;
}
#logo{
    width: 88px;
}
.container{
    height: 100%;
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
   
}
.navlist{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.navlink{
    color: white;
    text-decoration: none;
}
.section1{
    background-color: rgb(255, 205, 210);;
    padding-top: 48px;
    padding-bottom: 48px;
}
header > .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.section1> .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    
}
h1{
    font-size: 32px;
}
p{
    font-size: 24px;
}
.section1left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section1links{
    display: flex;
    flex-direction: row;
    gap: 18px;
    
}
.section1link1{
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.section1link2{
    color: black;
    text-decoration: none;
    border: 1px;
    border-style: solid;
    border-radius: 50px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}
    .section1image{
        height: 320px;
    }
